<table cellpadding="0" cellspacing="0" border="0" width="100%">
  <tr>
    <td class="mui-panel">
      <table
          id="content-wrapper"
          border="0"
          cellpadding="0"
          cellspacing="0"
          width="100%"
      >
        <tbody>
          <tr>
            <td>
              <h2>Restore password</h2>
            </td>
          </tr>
          <tr>
            <td class="mui--divider-top">
              Hello <%= @user.nick.capitalize %>,
            </td>
          </tr>
          <tr>
            <td>
              We have received, that you need to restore your password.
              You can do this by clicking on button:
            </td>
          </tr>
          <tr>
            <td>
              <table
                  class="mui-btn mui-btn--primary"
                  border="0"
                  cellspacing="0"
                  cellpadding="0"
              >
                <tr>
                  <td>
                    <a target="_blank" href="http://<%= @host %>/reset_password?reset=<%= @token %>">Restore password</a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              Thanks,
            </td>
          </tr>
          <tr>
            <td id="last-cell">
              The UProgress team
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</table>
