-----BEGIN CERTIFICATE-----
MIIGJTCCBQ2gAwIBAgIIHQjlgF6uop0wDQYJKoZIhvcNAQELBQAwgZYxCzAJBgNV
BAYTAlVTMRMwEQYDVQQKDApBcHBsZSBJbmMuMSwwKgYDVQQLDCNBcHBsZSBXb3Js
WdawgQ2VydGlmaWNhdGlvbiBBdXRob3JpdHkw
HhcNMTcwMzI2MTMyMjI0WhcNMTgwNDI1MTMyMjI0WjCBljEkMCIGCgmSJomT8ixk
AQEMFHZzb2tvbHRzb3YuVVByb2dyZXNzMTIwMAYDVQQDDClBcHBsZSBQdXNoIFNl
cnZpY2VzOiB2c29rb2x0c292LlVQcm9
